<div id='footer' >
    <div class="footer">
      <footer class="DesktopFooter">
        <div class="DesktopFooter__topContainer">
          <div class="BaseLayout">
            <div class="DesktopFooter__container">
              <div class="DesktopFooter__linksContainer">
                <div class="DesktopFooter__linksColumn"></div>
                <div class="DesktopFooter__linksColumn">
                  <h5 class="DesktopFooter__linkColumnHeader"> <br> </h5>
                    <a [routerLink] = "['/about']" tabindex="0" title="Our Team" data-nav-description="f - our team">Our Team</a>
                    <a class="Anchor" href="#" target="_self" tabindex="0" title="Investor Relations" data-nav-description="f - investor relations">Investor Relations</a>
                    <a class="Anchor" href="#" target="_self" tabindex="0" title="Affiliates" data-nav-description="f - affiliates">Affiliates</a>
                    <a class="Anchor" href="#" target="_self" tabindex="0" title="Careers" data-nav-description="f - careers">Careers</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="BaseLayout">
        <div class="DesktopFooter__bottomContainer">
          <div class="DesktopFooter__smallText">
            <div class="DesktopFooterTandC__terms1">
              <a class="Anchor" href="#" target="_self" tabindex="0" title="Terms &amp; Conditions" data-nav-description="f - terms &amp; coconditions">Terms &amp; Conditions |</a>
              <a class="Anchor" href="#" target="_self" tabindex="0" title="Privacy Policy" data-nav-description="f - privacy policy">Privacy Policy</a></div>
              <div class="DesktopFooterTandC__terms2">
              <div class="DesktopFooterTandC__copyright">Copyright 2022-2022 Soul Sounds, Inc.</div>
             </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>