.card {
    size: auto;
    min-width: 200px;
    max-width: 300px;
    height:fit-content;
    transition: .2s ease-out;
    border-radius: 0.5rem;
  }
  .card-body {
    padding-top: 0.5rem !important;
  }
  
  img
  {
    justify-content: center;
    height: auto;
    width: auto;
    margin: 0.5rem;
    max-width: 307px;
    left:0;
  }
  
  div {
    position: relative;
    transition: .2s ease-out;
  }
  
  .card:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    transform: translate3d(0,-10px,0);
  }