<p>novel-card works!</p>

<div class="col-md-12 mb-4 mb-lg-0">
    <div class="card light-background-2">
      <div class="d-flex justify-content-center p-2">
        <p class="lead mb-0 text-center light-foreground">{{novelInfo.genre}} - {{novelInfo.author}}</p>
      </div>
      <img [src]="productInfo.image"
        class="card-img-top" alt="Laptop"/>
        <hr class="my-0" />
      <div class="card-body">
        <div class="d-flex justify-content-between mb-2">
          <p class="small text-muted mb-0 light-foreground">Genre: <span class="fw-bold">{{novelInfo.genre}}</span></p>
          <div class="small ms-auto text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
        <hr class="my-0" />
        <div class="d-flex justify-content-between my-2">
          <h6 class="text-center mb-0 light-foreground">{{novelInfo.name}}</h6>
        </div>
        <hr class="mb-1" />
        <div class="row justify-content-center">
          <h5 class="text-dark text-bold mb-0 light-foreground">${{novelInfo.author}}</h5>
        </div>
        <hr class="mb-1" />
        <div class="col mt-2">
          <div class="row justify-content-center">
            <button class="btn btn-primary" (click)="update-novel(novelInfo)">Update</button>
          </div>
          <div class="row justify-content-center">
            <button class="btn border-0 p-1 m-1 btn-outline-secondary" (click)="delete-novel(novelInfo)"><small class="light-foreground"><u>Delete</u></small></button>
          </div>  
        </div>
      </div>
    </div>
  </div>