nav {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}

.nav-link-dark {
    color: #dae0e5;
    fill: #dae0e5;
}
.nav-link:hover {
    background-color: #dae0e5;
}

.navbar-toggler {
    background-color: #dbdbdd;
}
.navbar-toggler-icon {
    
    background-size: 100%;
    background: no-repeat center center;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}
.fa-primary {
    height: 1.2rem;
    width: 1.3rem;
}

#searchForm {
    width: 50%;
}
#searchBar {
    width: 70%;
    text-align: center;
    font-size: 14px;
}
.dropdown-item {
    cursor: pointer;
}

.dropdown-menu-end {
    right: 0;
    left: auto;
}

#navForm {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    margin: 0 auto;
    width: 42px;
    height: 20px;
    background-color: #111;
    display: flex;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}

.ball {
    width: 17px;
    height: 17px;
    background-color: #00e5ff;
    position: absolute;
    left: 3px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

/* targeting the element after the label */ 
.checkbox:checked + .label .ball {
    transform: translateX(18px);
}

.fa-moon-o {
    color: white;
}

.fa-sun-o {
    color: yellow;
}